---
import { astroCalledServerError } from 'astro:actions';
import Header from '../components/Header.astro';
import '../styles/global.css';
import '@fontsource-variable/onest'
import { intersection } from 'astro:schema';

interface Props{
	title: string;
	description: string;
}

const { title, description } = Astro.props;

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>
			{title}
		</title>
	</head>
	<body>
		<Header></Header>
		<slot />
	</body>
</html>

<style is:global>
	:root{
		color-scheme: dark;
	}
	html {
		font-family: 'Onest Variable', sans-serif;
	}
	body {
		background-color: #02000E;
		display: flex;
		flex-direction: column;
		min-height: 100vh;
	}
</style>
