---
import '../styles/global.css';
import '@fontsource-variable/onest'
---

<header class="flex justify-between items-center py-5 w-[1600px] mx-auto">
    <div class="flex flex-col ms-24">
        <h2 class="text-1xs">Federico Maritnez</h2>
        <p class="text-xs opacity-80">Software Developer</p>
    </div>

    <nav class="flex-1 flex justify-center gap-x-10 opacity-90 ">
         <a href="/">Home</a>
         <a href="/about">About</a>
         <a href="/projects">Projects</a>
         <a href="/contact">Contact</a> 
    </nav>

    <div class="flex items-center gap-x-4 w-60">

    </div>

</header>