---
import '../styles/global.css';
---

<header class="flex justify-between items-center py-3 w-[1600px] mx-auto">
    <img 
    class=" rounded-full w-12 h-12 object-cover"
    src="src/assets/bc580384-9e6e-439d-bbf4-6dcb93421d89.png" alt="fede">

    <nav class="flex-1 flex justify-center gap-x-10 opacity-90">
         <a href="/">Home</a>
         <a href="/about">About</a>
         <a href="/projects">Projects</a>
         <a href="/contact">Contact</a> 
    </nav>

</header>