<div class="flex justify-center items-center gap-10">
      <img src="src/assets/teclado-removebg-preview.png" alt="teclado"
      class="w-96 h-96 overflow-auto">
      <img src="src/assets/mouse-removebg-preview.png" alt="mouse"
      class="w-auto  h-44 mt-3">
</div>